*{
    padding: 0px;
    color: #80007E;
}
body{
    background-color: #e5ff00;
}
ul li{
    width: 150px;
    background-color: white;
    margin: 5px;
    padding: 8px 10px 8px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.o{
    border-right: 10px solid #FF7F00;
}
.b{
    border-right: 10px solid #0000FF;
}
.same{
    display: table;
}
.same ul{
    display: table-cell;
    list-style: none;
}
.same p{
    display: table-cell;
    padding-left: 30px;
}
hr{
    border: 0.5px dotted;
    width: 1500px;
}
.left{
    border: 2px dashed  #000;
    width: 900px;
    height: 20px;
    padding: 10px;
    padding-left: 0px ;
    text-align: left;
    color: black;
    margin-left: 0px;
    
}
.right{
    border: 2px dashed  #FF7F00;
    width: 900px;
    height: 20px;
    padding: 10px;
    padding-left: 0px ; 
    margin: 30px;
    margin-left: 0px;
    text-align: right;
    color: black;
    font-style: italic;
}
.center{
    border: 2px dotted #0000FF;
    width: 900px;
    height: 20px;
    padding: 10px;
    padding-left: 0px ;
    margin: 30px;
    margin-left: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: normal;
    
}
.copyright{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
    margin: 30px;
    margin-left: 0px;
}